button {
  border-radius: 10px;
  background-color: #76c3c1;
  background-image: none;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  border: none;
  padding: 10px 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

//header
.header_wrapper {
  position: fixed;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(
      352deg,
      transparent,
      rgba(192, 220, 255, 0.5)
    ),
    linear-gradient(94deg, #c9c9c9, #fff);
  .navbar-brand {
    img {
      width: 50px;
    }
  }
  .navbar-nav {
    a {
      color: #474c68;
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin: 0px 10px;
    }
    a:hover {
      color: red;
    }
    a:focus {
      color: #0082f3;
      border-bottom: 3px solid #76c3c1;
    }
    .nav-item {
      text-transform: uppercase;
    }
  }
  .nav-link:hover {
    color: red;
  }
  .nav-link:focus {
    color: #0082f3;
    border-bottom: 3px solid #76c3c1;
  }
}

//banner style
.Banner_wrapper {
  width: 100%;
  background-image: linear-gradient(
      352deg,
      transparent,
      rgba(192, 220, 255, 0.5)
    ),
    linear-gradient(94deg, #c9c9c9, #fff);
  padding: 8% 0 5% 0;

  .Banner_content {
    display: flex;
    .left_div {
      width: 40%;
      h2 {
        color: #474c68;
        font-size: 43px;
        line-height: 48px;
        font-weight: 500;
        text-align: left;
      }
      p {
        color: #474c68;
        font-size: 20px;
        line-height: 26px;
        text-align: left;
        padding-top: 10px;
      }
    }
    .right_div {
      width: 60%;
      img {
        width: 100%;
      }
    }
  }
}
//management style
.manage_wrapper {
  background-image: linear-gradient(
      352deg,
      transparent,
      rgba(192, 220, 255, 0.5)
    ),
    linear-gradient(94deg, #c9c9c9, #fff);
  padding: 4% 0;
  .manage_content {
    display: flex;
    gap: 60px;
    .left_div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
      img {
        width: 100%;
        background-image: linear-gradient(130deg, #cedcb4, #77b1ac);
        border-radius: 50%;
      }
    }
    .right_div {
      width: 60%;
      text-align: left;
      h2 {
        font-size: 38px;
        line-height: 44px;
        color: #474c68;
      }
      p {
        color: #474c68;
        font-size: 15px;
        font-weight: 500;
        padding-top: 10px;
      }
      button {
        margin: auto;
      }
    }
  }
}

//feature styles
.feature_wrapper {
  background-image: radial-gradient(
      circle closest-side at 50% 50%,
      #fcf3f3,
      hsla(0, 0%, 54.7%, 0.26)
    ),
    linear-gradient(180deg, hsla(0, 0%, 100%, 0.91), hsla(0, 0%, 100%, 0.91)),
    url(assets/logo_header.png);
  background-position: 0px 0px, 0px 0px, 94% 30%;
  background-size: auto, auto, auto;
  background-repeat: repeat, repeat, no-repeat;
  padding: 5% 2%;
  .feature_content {
    img {
      width: 65px;
    }
    .feat_heading {
      margin-bottom: 58px;
      color: #474c68;
      text-align: center;
      font-size: 38px;
      line-height: 44px;
    }
    .header_box {
      display: flex;
      gap: 10px;
      text-align: left;
      h3 {
        color: #474c68;
        font-size: 20px;
        line-height: 26px;
      }
    }
    .feat_text {
      color: #474c68;
      line-height: 18px;
      font-weight: 500;
      text-align: left;
      font-size: 14px;
      padding: 15px 0;
    }
  }
}

//footer styles
.footer_wrapper {
  background-image: linear-gradient(
      352deg,
      transparent,
      rgba(192, 220, 255, 0.5)
    ),
    linear-gradient(94deg, #c9c9c9, #fff);
  padding: 5% 0;
  text-align: left;
  .logo {
    img {
      width: 200px;
    }
  }
  .footer-text {
    color: #474c68;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 0;
  }
  .footer-adds {
    font-size: 14px;
    line-height: 20px;
    color: #474c68;
    font-weight: 400;
  }
  .link-head {
    color: #474c68;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      color: #474c68;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
      padding: 10px 0;
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.about_wrapper {
  background-image: linear-gradient(94deg, #c9c9c9, #fff);
  .row {
    padding: 15px 0;
  }
  h1 {
    color: #474c68;
    font-size: 46px;
    padding-top: 8%;
    margin-bottom: 8%;
  }
  h2 {
    font-size: 38px;
    line-height: 44px;
    color: #474c68;
    text-align: left;
  }
  p {
    color: #474c68;
    font-size: 18px;
    text-align: left;
    line-height: 23px;
  }
  ul {
    padding: 0;
    li {
      text-align: left;
      padding: 5px 0;
    }
  }
  img {
    width: 50%;
  }
}

.apply_wrapper {
  height: 100%;
  max-height: 100%;
  padding-top: 5%;
  background-image: linear-gradient(
      352deg,
      transparent,
      rgba(192, 220, 255, 0.5)
    ),
    linear-gradient(94deg, #c9c9c9, #fff);
  h2 {
    color: #474c68;
    line-height: 44px;
    text-align: left;
    font-size: 38px;
    font-weight: bold;
  }
  p {
    color: #474c68;
    font-size: 30px;
    line-height: 36px;
    margin-top: 30px;
    text-align: left;
  }
  img {
    margin: 15%;
  }
  form {
    text-align: left;
    div {
      padding: 8px 0;
      position: relative;
      margin-bottom: 5px;
      label {
        padding-bottom: 5px;
        color: #474c68;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
      }
      .form-select {
        margin: 10px 0px 0px 0px;
      }
      input {
        height: 38px;
      }
      select {
        height: 38px;
      }
      .sub_btn {
        display: flex;
        justify-content: flex-end;
      }
      .form_error,
      .form_error_select,
      .form_error_message {
        font-size: 10.5px;
        color: red;
        position: absolute;
        top: 35px;
      }
      .form_error_select {
        top: 20px !important;
      }
      .form_error_message {
        top: 60px !important;
      }
    }
  }
}
